rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /feedback_responses/{feedback_response} {
      function validateFeedbackResponse() {
        return request.resource.data.keys().hasOnly(['page_ref', 'date', 'is_positive_feedback', 'event_description', 'suggestions', 'email']) &&
        request.resource.data['page_ref'] is string &&
        request.resource.data['page_ref'].size() < 100 &&
        request.resource.data['date'] == request.time.date() &&
        request.resource.data['is_positive_feedback'] is bool &&
        request.resource.data['event_description'] is string &&
        request.resource.data['event_description'].size() <= 3000 &&
        request.resource.data['suggestions'] is string &&
        request.resource.data['suggestions'].size() <= 2000 &&
        request.resource.data['email'] is string &&
        request.resource.data['email'].size() <= 254;
      }
      allow create: if validateFeedbackResponse();
    }
    match /page_loads/{page_load} {
      function validatePageLoad() {
        return request.resource.data.keys().hasOnly(['qr_ref', 'date', 'page_path']) &&
        (request.resource.data['qr_ref'] == null ||
          (request.resource.data['qr_ref'] is string &&
          request.resource.data['qr_ref'].size() == 8)
        ) &&
        request.resource.data['date'] == request.time.date() &&
        request.resource.data['page_path'] is string &&
        request.resource.data['page_path'].size() < 100;
      }
      allow create: if validatePageLoad();
    }
    match /link_clicks/{link_click} {
      function validateLinkClick() {
        return request.resource.data.keys().hasOnly(['href', 'date', 'page_path']) &&
        request.resource.data['href'] is string &&
        request.resource.data['href'].size() < 500 &&
        request.resource.data['date'] == request.time.date() &&
        request.resource.data['page_path'] is string &&
        request.resource.data['page_path'].size() < 100;
      }
      allow create: if validateLinkClick();
    }
    match /qr_code_events/{qr_code_event} {
      function validateGenerate() {
        return request.resource.data.keys().hasOnly(['qr_id', 'timestamp', 'type', 'design']) &&
        request.resource.data['design'] is int &&
        request.resource.data['design'] > 0 &&
        request.resource.data['design'] < 100;
      }
      function validateActivate() {
        return request.resource.data.keys().hasOnly(['qr_id', 'timestamp', 'type', 'location']) &&
        request.resource.data['location'] is latlng;
      }
      function validateQrCodeEvent() {
        return request.resource.data['qr_id'] is string &&
        request.resource.data['qr_id'].size() == 8 &&
        request.resource.data['timestamp'] == request.time &&
        // Type-specific validation
        (
          (request.resource.data['type'] == 'generate' && validateGenerate()) ||
          (request.resource.data['type'] == 'activate' && validateActivate())
        );
      }
      allow create: if validateQrCodeEvent();
      function validateRead() {
        return (resource.data['type'] == 'generate' && request.query.limit <= 9) ||
        (request.query.limit == 1 && request.query.orderBy['timestamp'] == 'DESC');
      }
      allow list: if validateRead();
    }
    match /counters/mindthe5 {
      function validateMindthe5Increment() {
        return request.resource.data.keys().hasOnly(['count']) &&
        request.resource.data['count'] is int &&
        request.resource.data['count'] == resource.data['count'] + 1;
      }
      allow update: if validateMindthe5Increment();
      allow get: if true;
    }
  }
}
